<!-- <script src="../static/js/signInfor.js"></script> -->

<div class="jumbotron">
    <div class="col-md-3">
        <h3>Travel Process, Welcome {{session['username']}}</h4>
    </div>
</div>
<div class="row marketing">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
             <div class="col-md-3" style="text-align:left;">
                 <img src="../static/images/bikelogo.png"> </div>
            <div class="col-md-3">
                <h3><i class="far fa-clock" style="font: size 20px;color:#2196F3"></i><strong>Travel Plan</strong></h3>
                <p>Create new plan</p>
                <a href="/addtravel" class="btn btn-info btn-mi" id="btntodo" style="background-color:#2196F3">
                    <span class="glyphicon glyphicon-hand-up"></span> Add
                </a>
                <a href="/travellist/todo" class="btn btn-info btn-mi" id="btndoing" style="background-color:#2196F3">
                    <span class="glyphicon glyphicon-hand-up"></span> Setting
                </a>
            </div>
{#            <div class="col-md-3">#}
{#                <h3><i class="fas fa-people-carry" style="font: size 20px;color:#2196F3"></i><strong>&nbsp;Ongoing#}
{#                        Travel</strong></h3>#}
{#                <p>Setting your ongoing travel</p>#}
{#                <a href="/travellist/doing" class="btn btn-info btn-mi" id="btndoing" style="background-color:#2196F3">#}
{#                    <span class="glyphicon glyphicon-hand-up"></span> Setting#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <h3><i class="fas fa-handshake" style="font: size 20px;color:#2196F3"></i><strong>&nbsp;Completing Travel</strong></h3>#}
{#                <p> Completing your travel here</p>#}
{#                <a href="/travellist/done" class="btn btn-info btn-mi" id="btndone" style="background-color:#2196F3">#}
{#                    <span class="glyphicon glyphicon-hand-up"></span> Setting#}
{#                </a>#}
{#            </div>#}
            <div class="col-md-3">
                <h3><i class="fas fa-file-export" style="font: size 20px;color:#2196F3"></i><strong>Travel List</strong></h3>
                <p>Show All Travels</p>
                <p><a class="btn btn-default" href="/travellist/all" role="button" style="background-color:#2196F3; color:white">View
                        details &raquo;</a></p>
            </div>
        </div>
    </div><!-- /container -->
</div> <!-- /row marketing-->
<hr>