{% extends "layout.html" %}
{% block sub_content %}
<!-- <div id="panel"> -->
<div overflow-y:auto>
    <div class="form-group">
        <h4>Search your travels:</h4>
        <input id="travelsearch" type="text" class="form-control" style="width: 10%;" placeholder="Search...">
    </div>
    <form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th style="text-align:right">
                        <input type="checkbox" id="selectall" /> Select All
                    </th> -->
                    <th style="text-align:center">Travel Title
                    <th style="text-align:center">Travel Status</th>
{#                    <th style="text-align:center">Travel Duedate</th>#}
{#                    <th style="text-align:center">Task Owner</th>#}
{#                    <th style="text-align:center">More Option</th>#}
                    <th style="text-align:left">Share Task</th>

                </tr>
            </thead>
            <tbody id="travellistTable">
                {% for task in tasklist %}
                <!-- <td style="text-align:right"> <input type="checkbox" name="check" /></td> -->
                <td style="text-align:center">{{task[1]}}</td>
                <td style="text-align:center">{{task[2]}}</td>
                <td style="text-align:center">{{task[3]}}</td>
                <td style="text-align:center">{{task[4]}}</td>
                <td style="text-align:center">
                    <a href="/updatetravel/{{task[0]}}" class="btn btn-link">Detail Travel &laquo;</a>
                    <a href="/deletetravel/{{task[0]}}" class="btn">Delete Travel</a>
                </td>
                <td style="text-align:left">
                    <!-- <a href="/sharetask/{{task[0]}}" class="btn btn-link">Share Task &laquo;</a> -->
                    <a href="/sharetravel/{{task[0]}}/{{task[1]}}" class="btn btn-link">Share Travel &laquo;</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <div class="col-sm-10">
            <button type="submit" class="btn btn-success" style="background-color:#2196F3;">Delete</button>
        </div> -->
    </form>
</div>
</div>
<!-- </div> -->
{% endblock %}